h1, h2, h3{
    color: blue;
    background-color: coral !important;
    font-style: normal;
    text-align: center;
    
}
/*this is a comment in css*/
p{
    font-family: cursive;
    color: red;
    font-size: 125%;
    text-align: left;

}

#heading{
    color: wheat;
    background-color: tomato;
    font-style: normal;
    font-size: 125%;
    text-align: center;

}

#color_numbers{
    color: lime;
    background-color: peru;
}

#numb1{
    color: pink;
}

#numb2{
    color: pink;
}